*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(211, 198, 182, 0.731);
    font-family: "Cabin", sans-serif;
    overflow-x: hidden;
}
nav{
    background-color: black;
}
nav p {
    display: inline;
    color: white;
    font-family: "Anton", serif;
    font-size: 25px;
    padding: 0 10px;
}

.description h3{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
}
.description h5{
    font-size: 22px;
}
.description p{
    font-size: 18px;
    font-weight: bold;
}
.description select{
    width: 100px;
    height: 35px;
    padding-left: 15px;
    font-size: 16px;
    margin-bottom: 15px;
}
.description input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 5px;
}
.description button{
    padding: 8px 16px;
    border: 2px solid rgb(232, 50, 50);
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 500;
}
.description button:hover{
    transition: 0.5s;
    background-color:  rgb(232, 50, 50);
    color: wheat;
}
.description button i{
    font-size: 15px;
    margin-right: 8px;
}


.cart-total{
    background-color: black;
    border: 2px solid red;
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px 0px;
    margin-top: 25px;
}
.cart-total h4,i{
    display: inline;
}
.cart-total h4{
    margin-left: 20px;
    color: aliceblue;
}.cart-total i{
    margin-left: 10px;
    color: aliceblue;
}
.cart-total button{
    margin: 0px 5px 0px 60px;
    padding: 2px 6px;
    background-color: red;
    color: aliceblue;
}


.total{
    background-color: black;
    border: 2px solid red;
    border-radius: 2px;
    margin-top: 10px;
    padding: 8px 0px;
    margin-top: 25px;
    width: 50%;
    margin-left: 150px;
}
.total h4,i{
    display: inline;
}
.total h4{
    margin-left: 20px;
    color: aliceblue;
}.total i{
    margin-left: 10px;
    color: aliceblue;
}

@media screen and (max-width: 768px){
    .total{
        display: none;
    }
    .cart-total{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (max-width: 406px){
    .cart-total h4{
        font-size: 19px;
    }
}
@media screen and (max-width: 380px){
    .cart-total h4{
        font-size: 17px;
    }
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/GIL_____.TTF') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('/fonts/Haettenschweiler.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}
